/* ===== ESTRUCTURA GENERAL ===== */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

h1, h3 {
  font-weight: 700;
  color: #343a40;
}

/* ===== COMPONENTES ===== */
.card-header {
  background-color: #007bff;
  color: white;
  font-weight: 600;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  filter: brightness(0.9);
}

.form-check-label {
  cursor: pointer;
}

/* ===== TABLA DE ESCANEOS ===== */
#scans-table-wrapper {
  max-height: 600px;         /* o lo que necesites */
  overflow-y: auto;
}

#scans-table {
  width: 100%;
  table-layout: auto;
}

#scans-table tbody tr:hover {
  background-color: #e9f2ff;
}

/* ===== SLIDER DE AGRESIVIDAD ===== */
input[type="range"] {
  width: 100%;
  height: 0.75rem;
  background: #dee2e6;  /* gris claro para que el JS pinte el gradiente */
  border-radius: 0.375rem;
  appearance: none;
  outline: none;
  transition: background 450ms ease-in;
  margin-top: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #0d6efd;  /* azul bootstrap */
  cursor: pointer;
  margin-top: -0.3rem;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #0d6efd;  /* azul bootstrap */
  cursor: pointer;
  border: none;
}

#aggr_text {
  padding: 0.2em 0.5em;
  border-radius: 0.25rem;
  color: white; /* o un color que contraste con el fondo */
  display: inline-block;
}


/* ===== EFECTO FLUJO AL AÑADIR MODULOS ===== */

 .module-arrow {
    position: relative;
    width: 20px;
    height: 30px;
  }

  .module-arrow::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    border-left: 2px solid #6c757d;
    transform: translateX(-50%);
  }

  .module-arrow::after {
    content: '▼';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    font-size: 12px;
    color: #6c757d;
  }


  .output-box {
    background-color: #f9f9f9;
    border-left: 4px solid #0d6efd;
    padding: 1rem;
    font-family: monospace;
    font-size: 0.9rem;
    white-space: pre-wrap;
}
.card-header {
    background-color: #f1f1f1;
    font-weight: 500;
}
button.btn.btn-sm.btn-outline-secondary {
    font-size: 0.8rem;
}

/* ===== FONDO FILAS EN STATUS.HTML ===== */
/* ===== rojas no Disponible, verde Disponible ===== */
tr.bg-available td {
  background-color: #d4edda !important;  /* Verde claro */
}

tr.bg-unavailable td {
  background-color: #f8d7da !important;  /* Rojo claro */
}

.version-full {
  background-color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 0.25rem;
  max-height: 8rem;
  overflow-y: auto;
}
.arrow-icon {
  transition: transform 0.3s ease;
  cursor: pointer;
}
